* {
  padding: 0px;
  margin: 0px;
}

html {
	height: 100%;
}

body {
	display: block;
	align-items: center;
	height: 100%;
}

.main {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	float: none;
	position: static;
	align-items: center;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	width: 80%;
	flex-grow: 1;
	align-self: center;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	border-bottom: 2px solid var(--black);
	background: var(--white);
	z-index: 2;
}

.navButtons {
	display: flex;
	align-items: center;
	gap: 	8px;
}

nav .title {
	display: flex;
	align-items: center;
	gap: 8px;
}

.end {
    width:100%;
	padding: 10px;
	border-top: 2px solid var(--black);
	background: var(--white);
}
.end p, .end a, .end mark{
	font-size: 12px;
	line-height: 20px;
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.cardContents {
	display: flex;
	flex-direction: column;
	padding: 12px;
}

card {
	width: 100%;
	height: fit-content;
}

.details {
  display: none;
}

.petName, .Actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex form{
	display: flex;
	align-items: center;
	gap: 	16px;
}

.statistic{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.statistic h4{
	flex-grow: 2;
}

.meter {
	display: flex;
	flex-direction: row;
	width: 70%;
	height: 32px;
	background-color: var(--white);
	border-radius: 2px;
	outline: 2px solid var(--black);
	margin: auto auto auto 16px;
}

.meter #fill {
	width: 50%;
	height: 100%;
	background-color: var(--gray);
}

.meter #fill.cyan {
	background-color: var(--cyan-normal);
}
.meter #fill.pink {
	background-color: var(--pink-normal);
}
.meter #fill.yellow {
	background-color: var(--cyyellowan-normal);
}
.meter #fill.blue {
	background-color: var(--cybluean-normal);
}
.meter #fill.purple {
	background-color: var(--purple-normal);
}
.meter #fill.cyan-light {
	background-color: var(--cyan-light);
}
.meter #fill.pink-light {
	background-color: var(--pink-light);
}
.meter #fill.yellow-light {
	background-color: var(--cyyellowan-light);
}
.meter #fill.blue-light {
	background-color: var(--cybluean-light);
}
.meter #fill.purple-light {
	background-color: var(--purple-light);
}