* {
  padding: 0px;
  margin: 0px;
}
.header {
  border-style: none none solid none;
  border-width: 2px;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 32px;
	border-bottom: 2px solid var(--black);
	position: fixed;
	top: 0;
	background: var(--white);
	z-index: 2;
}
.main {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 128px auto;
	margin-bottom: 0;
	padding: 0 24px;
}

main {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 0 24px;
}

.box {
  padding: 5px;
  border-style: solid;
  border-width: 2px;
}

.boxRed {
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  margin: 5px;
}

.actions {
	display: flex;
	gap: 16px;
}

.container {
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
}

.details {
  display: none;
  margin-left: 0px;
  padding-left: 0px;
}

.spacer {
  flex-grow: 200
}