* {
  padding: 0px;
  margin: 0px;
}

html {
	height: 100%;
}

body {
	display: block;
	align-items: center;
	height: 100%;
}

.main {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	float: none;
	position: static;
	align-items: center;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	width: 80%;
	flex-grow: 1;
	align-self: center;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	border-bottom: 2px solid var(--black);
	background: var(--white);
	z-index: 2;
}

.navButtons {
	display: flex;
	align-items: center;
	gap: 	8px;
}

nav .title {
	display: flex;
	align-items: center;
	gap: 8px;
}

.end {
    width:100%;
	padding: 10px;
	border-top: 2px solid var(--black);
	background: var(--white);
}
.end p, .end a, .end mark{
	font-size: 12px;
	line-height: 20px;
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.cardContents {
	display: flex;
	flex-direction: column;
	padding: 12px;
}

card {
	width: 100%;
	height: fit-content;
}

.details {
  display: none;
}

.petName, .Actions{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex form{
	display: flex;
	align-items: center;
	gap: 	16px;
}